<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="ae082dc7-8ec4-4115-bdcb-3b54a21a3d09" name="bodevals Quiet Red Panda" alias="bodevals-quiet-red-panda" type="Starter" color="" url="https://www.s1.umbraco.io/project/bodevals-quiet-red-panda" trialExpireDate="2019-07-08T09:54:05">
  <environment type="live" name="Live" id="620cb638-e968-417a-bbc9-289449ce76ed">https://bodevals-quiet-red-panda.s1.umbraco.io</environment>
</environments>